---
import HolidaysForYear from "./HolidaysForYear.astro";
interface Props{
    holidays: HolidayData
}

const {holidays} = Astro.props

---

<!-- The font size has to be zero because inline-block elements (HolidaysForYear) have a space between them -->
<div class="whitespace-nowrap overflow-x-hidden" style="font-size:0">
    {Object.entries(holidays).map(([year, holidaysForYear]) => ( 
        <HolidaysForYear year={year} holidays={holidaysForYear}/>
    ))}
</div>

<script>
import { currentHolidays } from "../customstore";

document.addEventListener('currentHolidayIn', (e)=>{
    const {bundesland, newVal, oldVal} = e.detail;
    if (newVal){
        document.querySelector(`[data-id="${newVal.id}"]`)?.classList.add('active')
    }
    if (oldVal){
        document.querySelector(`[data-id="${oldVal.id}"]`)?.classList.remove('active')
    }
})
// currentHolidays.subscribe((newVal, oldVal) => {
//     // console.log(newVal, oldVal);
//     if (newVal?.id){
//         document.querySelectorAll(`[data-id="${newVal.id}"]`).forEach(el => {
//             el.classList.add('active')
//         })
//     }
//     if (oldVal?.id){
//         document.querySelectorAll(`[data-id="${oldVal.id}"]`).forEach(el => {
//             el.classList.remove('active')
//         })
//     }
    
// })
</script>